@using ToChange.Models
@model ToChange.Models.Product

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            @if (Model != null)
            {
                <h4 style="text-align:center;">Are you sure you want to send Swap request?</h4>
            }
        </div>
        <div class="panel-body">
            @Html.HiddenFor(model => model.ID)

            <fieldset id="formData">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="form-group">
                        <img style="margin-left:10%;" src="@Model.ProductImage" width="350" height="200" />
                    </div>

                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = true } })
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control" type="text" disabled="disabled" value="@websiteSettings.GetCategoryName(Model.CategoryID)" />
                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", disabled = true } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" onclick="Submit()" value="Send Now!" class="btn btn-success" />
                            <input type="button" onclick="Cancel()" value="Close" class="btn btn-danger" />
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>

}


<script>

    function Submit() {

        $.ajax({
            type: 'POST',
            url: '/Exchange/ReSendPokeRequest',
            data: $('#formData').serialize(),
            success: function () {
                location.reload();
            }

        });

    }

    function Cancel() {
        location.reload();
    }

</script>
